<a href="https://colab.research.google.com/github/Iyetunde/Python-assignments/blob/main/Using_%26_controlling_loops_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
animals_tuple = ('Great White Shark', 'Blue Whale', 'African Elephant',  'Bald Eagle', 'Orangutan', 'Tiger', 'Tiger', 'Panda', 'Koala')
animals_set= set(animals_tuple)
animal_string = "Great White Shark"

In [ ]:
print("Tuple:")
for animal in animals_tuple:
    print(animal)

Tuple:
Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan
Tiger
Tiger
Panda
Koala

In [ ]:
print("Set:")
for animal in animals_set:
    print(animal)

Set:
African Elephant
Orangutan
Blue Whale
Koala
Tiger
Panda
Great White Shark
Bald Eagle

In [ ]:
print("String:")
for letter in animal_string:
    print(letter)

String:
G
r
e
a
t

W
h
i
t
e

S
h
a
r
k

In [ ]:
# Searching for a specific number in a list
animals = ['Great White Shark', 'Blue Whale', 'African Elephant',  'Bald Eagle', 'Orangutan', 'Tiger', 'Panda', 'Koala']

for animal in animals:
    print(animal)
    if animal == 'African Elephant':
        print("African Elephant found")
        break #Once African Elephant is found, the loop stops, so 'Bald Eagle', 'Orangutan', 'Tiger', 'Panda', 'Koala' are not printed.

print(f"The last animal checked = {animal}")

Great White Shark
Blue Whale
African Elephant
African Elephant found
The last animal checked = African Elephant

In [ ]:
for animal in animals:

    if animal == 'African Elephant':
        continue #Once African Elephant is found, the code in the rest of the loop is not executed, so African Elephant found is not printed.
    print(animal)

Great White Shark
Blue Whale
Bald Eagle
Orangutan
Tiger
Panda
Koala

In [ ]:
# By adding pass, the code still runs
for animal in animals:
    if animal == 'African Elephant':
        pass #Skip elephants
    else:
        print (f"{animal} is not an African Elephant")

Great White Shark is not an African Elephant
Blue Whale is not an African Elephant
Bald Eagle is not an African Elephant
Orangutan is not an African Elephant
Tiger is not an African Elephant
Panda is not an African Elephant
Koala is not an African Elephant

In [ ]:
animals = ['Great White Shark', 'Blue Whale', 'African Elephant', 'Bald Eagle', 'Orangutan', 'Tiger', 'Panda', 'Koala']

for animal in animals:
  print (animal)

Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan
Tiger
Panda
Koala

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
for animal in animals:
  print (animal)
if animal == 'Orangutan':
    break

Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan

In [ ]:
for animal in animals:
  print (animal)
  if animal == 'bald Eagle':
    continue

Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan
Tiger
Panda
Koala

In [ ]:
for animal in animals:
    if animal == 'Panda':
        pass
    else:
        print(animal)

Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan
Tiger
Koala

In [ ]:
deforestation_rates = [150, 145, 140, 135, 130]
deforestation_years = [2010, 2011, 2012, 2013, 2014]

In [ ]:
for rate in deforestation_rates:
   print(f"rate = {rate}")

rate = 150
rate = 145
rate = 140
rate = 135
rate = 130

In [ ]:
for i in range(len(deforestation_rates)):
    rate = deforestation_rates[i]
    year = deforestation_years[i]
    print(f"i = {i} - Yearly deforestation rate in {year} is: {rate}k hectares")

i = 0 - Yearly deforestation rate in 2010 is: 150k hectares
i = 1 - Yearly deforestation rate in 2011 is: 145k hectares
i = 2 - Yearly deforestation rate in 2012 is: 140k hectares
i = 3 - Yearly deforestation rate in 2013 is: 135k hectares
i = 4 - Yearly deforestation rate in 2014 is: 130k hectares

In [ ]:
for i, rate in enumerate(deforestation_rates):
    year = deforestation_years[i]
    print(f"i = {i} - Yearly deforestation rate in {year} is: {rate}k hectares")

i = 0 - Yearly deforestation rate in 2010 is: 150k hectares
i = 1 - Yearly deforestation rate in 2011 is: 145k hectares
i = 2 - Yearly deforestation rate in 2012 is: 140k hectares
i = 3 - Yearly deforestation rate in 2013 is: 135k hectares
i = 4 - Yearly deforestation rate in 2014 is: 130k hectares

In [ ]:
marine_species_count = {
    'Dolphins': 12,
    'Whales': 3,
    'Sea Turtles': 7
}

for species in marine_species_count:
    print(f"{species}: {marine_species_count[species]} sightings")

Dolphins: 12 sightings
Whales: 3 sightings
Sea Turtles: 7 sightings

In [ ]:
deforestation_data = {
    'Amazon': 120,
    'Congo Basin': 80,
    'Southeast Asia': 95,
    'Eastern Australia': 40
}
critical_threshold = 90

for region, area in deforestation_data.items():
    if area > critical_threshold:
        print(f"Critical deforestation in {region}: {area} square kilometres")

Critical deforestation in Amazon: 120 square kilometres
Critical deforestation in Southeast Asia: 95 square kilometres

In [ ]:
endangered_marine_species = ['Hawksbill Turtle', 'Vaquita', 'Blue Whale', 'Staghorn Coral', 'Green Turtle']
endangered_count = 0

for species in endangered_marine_species:
    endangered_count += 1

print(f"Number of endangered marine species: {endangered_count}")

Number of endangered marine species: 5

In [ ]:
initial_forested_area = 1000  # in square kilometres
deforestation_rate = 20       # square kilometres per year

years = 0
while initial_forested_area > 500:
    initial_forested_area -= deforestation_rate
    years += 1

print(f"Years until critical deforestation level: {years}")

Years until critical deforestation level: 25

In [ ]:
animals = ['Tiger', 'Blue Whale', 'African Elephant', 'Koala', 'Panda']
endangered_animals = ['Tiger', 'Blue Whale', 'African Elephant']


for animal in animals:
    if animal in endangered_animals:
        print(f"{animal}: Endangered")
    else:
        print(f"{animal}: Not Endangered")

Tiger: Endangered
Blue Whale: Endangered
African Elephant: Endangered
Koala: Not Endangered
Panda: Not Endangered

In [ ]:
ocean_pollution_data = {
    'Pacific Ocean': [3, 5, 2],  # pollution levels
    'Atlantic Ocean': [7, 2, 4],
    'Indian Ocean': [5, 1, 3]
}

# Your task: Use loops to calculate the average pollution level for each ocean and print it
for ocean, pollution_levels in ocean_pollution_data.items():
    average_pollution = sum(pollution_levels) / len(pollution_levels)
    print(f"The average pollution level in {ocean} is {average_pollution}.")

The average pollution level in Pacific Ocean is 3.3333333333333335.
The average pollution level in Atlantic Ocean is 4.333333333333333.
The average pollution level in Indian Ocean is 3.0.

In [ ]:
species = ['Dolphins', 'Whales', 'Sea Turtles', 'Seals']
status = ['Endangered', 'Vulnerable', 'Endangered', 'Least Concern']
# Desired Output: {'Dolphins': 'Endangered', 'Sea Turtles': 'Endangered'}
species_status = {}
for i in range(len(species)):
    species_status[species[i]] = status[i]
print(species_status)
number_of_species = range(len(species))

endangered_species = {species[i]: status[i] for i in number_of_species if status[i] == 'Endangered'}
print(endangered_species)

{'Dolphins': 'Endangered', 'Whales': 'Vulnerable', 'Sea Turtles': 'Endangered', 'Seals': 'Least Concern'}
{'Dolphins': 'Endangered', 'Sea Turtles': 'Endangered'}